nav{
    background-color: #5C2018;
}
body{
font-family: Montserrat;
}
.a ,.b{
    display: table;
    margin: 0 auto;
}
h6{
    font-weight: bold;
    font-size: 20px;
}
form{
    color: #ffffff;
    width: 600px;
    margin: 40px auto;
    padding: 20px auto;
    border-radius: 5px;
}
input{
    width: 100%;
    margin: 5px auto;
    padding: 10px 0;
    border-radius: 5px;
}

.contact{
    float: left;
    width: 100%;
}

input::placeholder{
    padding: 20px;
    color:#ffffff;
    margin: 20px;
    background-color: #555555;
}
input[type=submit]{
    float: left;
    width:100px;
    background-color: #BC4639;;
    color: white;
    border-radius: 5px;
}
textarea{
    width: 95%;
    background-color: #555555;
    color: #ffffff;
    margin: 5px auto;
    padding: 10px;
    border-radius: 5px;
}
.foot{
    background-color: #5C2018;
    position: relative;
}
.foot1{
    padding-top: 140px;
}
.foot2{
    padding-top: 30px;
}
.foot3{
    padding-top: 50px;
}
/* navbar image*/
@media (min-width: 600px){
    .navimg{
            background: url(../img/image_9\ 1.png);
            width: 100%;
            height: 958.93px;
            padding-top: 295px;
    }
}
@media (max-width: 600px){
    .navimg{
        background: url(../img/image_9\ 1.png);
        width: 100%;
        height: 300px;
    }
}
/* fontsize of all headings*/
@media (max-width: 600px){
   .large1 , .large2 , .large3, .large4 , .large5{
       font-size: 25px;
   }
}
@media (min-width: 600px){
    .large1 , .large2 , .large3, .large4 , .large5{
        font-size: 60px;
    }
 }
 /* fontsizes of medium size headigngs*/
 @media(max-width: 600px){
         .med1{
             font-size: 12px;
         }
 }
 @media(min-width: 600px){
     .med1{
    font-size: 40px; 
 }
}
/* fontsizes of small paragraphs*/
@media(max-width: 600px){
    .smal1, .smal2 ,.smal3 ,.smal4 , .smal5 , .smal6, .dat1 ,.dat2 ,.dat3{
        font-size: 8px;
    }
}
@media(min-width: 600px){
.smal1, .smal2 ,.smal3 ,.smal4, .smal5 , .smal6 , .dat1 ,.dat2 ,.dat3{
font-size: 20px; 
}
}
/*image sizes of body*/
 @media (min-width: 700px){
     .firimg{
    width: 537px;
     height: 600px;
     }
 }
 @media (max-width: 700px){
     .firimg{
   width: 150px;
   height: 184px;
     }
}
/* buttons*/
@media(max-width: 600px){
    .butt1, .butt2{
      width:134px ;
      height: 23px;
      border-radius: 5px;
      font-size: 11px;
        line-height: 13px;
    }
}
@media(min-width: 600px){
    .butt1, .butt2{
        width:289px ;
        height: 68px;
        border-radius: 5px;
        font-size: 24px;
        line-height: 29px;
    }
}
/* blog images*/
@media(min-width: 600px){
    .blogimg1, .blogimg2 , .blogimg3{
     width: 360px;
     height: 402px;
    }
}
@media(max-width: 600px){
    .blogimg1, .blogimg2 , .blogimg3{
        width: 115px;
     height: 128px;
    }
}
/* blog headings*/
@media(max-width: 600px){
    .meblo1, .meblo2, .meblo3{
        font-size: 11px;
    }
}
@media(min-width: 600px){
    .meblo1, .meblo2, .meblo3{
font-size: 24px; 
}
}
/* footer titles*/
@media(max-width: 600px){
    .med2, .med3{
        font-size: 25px;
    }
}
@media(min-width: 600px){
.med2, .med3{
font-size: 40px; 
}
}